/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

section {
    text-align: center;
}

p,
a {
    font-size: 16px;
}

nav {
    padding: 10px 0;
}

a {
    font-weight: bold;
    text-decoration: none;
}

section.first {
    background-color: #36c9d7;
    font-size: 0;
}

.first p,
.second_block,
section.third .first_block {
    width: 33%;
}

section.second {
    background-color: #53c2ab;
    font-size: 0;
}

section.third .second_block,
section.fourth .first_sub_block,
section.fourth .first_sub_sub_block {
    font-size: 0;
}

.first p,
.first_block,
.second_block,
section.third .first_sub_block,
.first_sub_sub_block,
.first_sub_sub_block > p:last-child {
    display: inline-block;
}

.first_block,
section.third .second_block,
section.fourth .first_block {
    width: 66%;
}

section.third {
    background-color: #2dd2b9;
    font-size: 0;
}

.third .second_block > p:nth-child(2),
.fourth .first_sub_block > p:nth-child(2),
.first_sub_block .first_sub_sub_block > p:nth-child(2) {
    display: inline-block;
    width: 50%;
    /* vertical-align: top; */
}

section.third .first_sub_block,
.first_sub_sub_block,
.first_sub_sub_block > p:last-child {
    width: 50%;
}

section.fourth {
    background-color: #2cb187;
    font-size: 0;
}
